<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
</style>
font-family: "Playfair Display", serif;
<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:wght@300&display=swap');
</style>
font-family: "Ubuntu", sans-serif;
/*common css start*/
body{
    font-family:"playfair Display";
    font-size:"16px";
    font-weight:"400px";
    color:"626262";
    margin: 0px;
}
/*common css end*/
/*header start*/
header{
    border: 1px solid black;
    padding: 25px 0px;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid red;*/
}
.logo{
    width: 12%;
    float: left;
    margin-top: 12px;
    /*border: 1px solid red;*/
}
.logo a img {
    width: 100%;
}
.manu{
    width: 65%;
    float: right;
    /*border: 1px solid blue;*/
}
.manu ul {
    list-style: none;
    float: right;
 }
.manu ul li {
    float: left;
}
.manu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 30px;
    display: inline-block;
    color: #626262;
    border-bottom: 1px solid transparent;
    transition: .33s linear;
}
.manu ul li:last-child a{
    padding-right: 0px;
}
.manu ul li:hover a {
    border-bottom: 1px solid #626262;
}



/*header end*/

